@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
header > button {
	background-color: white;
}
header {
	display: flex;
	justify-content: space-between;
	min-height: 40px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	margin-bottom: 1px;
}
	/*azul*/
	/*background-color: #05386b;*/
	/*dark-green*/
    /*background-color: #379683; */
header.login, header.signup {
	background: transparent;
}
header.login #logo, header .signup #logo {
}
	/*color: #05386b; */
#logo { 
	font-family: 'Righteous', sans-serif;
	line-height: 155%;
	font-size-adjust: all;
	font-size: 25px;
	padding-left: 7px;
	cursor: pointer;
	color: #fef7f3;
	transition: all .175 ease-in-out;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
	/* azul */
	/*color: #05386b; */
#logo:hover {
	text-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
header ul {
	margin: 0;
	display: flex;
	height: 100%;
}
header ul li {
	padding: .5em;
	cursor: pointer;
/*	color: rgba(5,56,107,.8);*/
	color: #fef7f3;
	transition: all .25s ease-in-out;
	margin-bottom: 0;
	font-weight: bold;
}
header ul li:nth-child(2) {
	margin-left: 15px;
	color: #05386b;
	/*background-color: #fef7f3;*/
}
/*header ul li:first-child:hover { color: rgba(5,56,107,1); }*/
header ul li:nth-child(2):hover {
	color: #fef7f3;
	background-color: #05386b;
}
header ul li span:hover {
	text-shadow: 1px 1px 1px rgba(0,0,0,.07);
}
