p.quote {
	font-style: italic;
	font-size: 1.5em;
	letter-spacing: 1px;
	line-height: 1.75;
	text-align: center;
	max-width: 700px;
	margin-left: auto;
}
p.author { text-align: right; font-weight: 800; font-style: italic; font-size: 1.25em;}
blockquote::after {content: ''; display: table; clear: both;}
blockquote {
	font-family: 'Raleway', sans-serif;
	max-width: 800px;
	margin: auto;
}